/* font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif; */
li {
    list-style-type: none;
}

nav > li {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7D7D7D;
    text-transform: uppercase;
}

a {
    color: #7D7D7D;
    text-decoration: none;
}

a:hover {
    color: #03A9F4;
}

.card h3 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #B4AD9E;
}

.card h2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #626262;
}

.card p {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
}

button {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
    border: #626262 1px solid;
    background-color: transparent;
    padding: 28px 48px;
}